
<div class="wrapper darkbg" style="height:min-content; background-color:#333; color:#fff;">
    <footer class="container" style="flex-shrink:0;">    
        <div class="d-flex">
            <ul>
                <li>
                    {{ title }}
                </li> 
            </ul>
            <ul>
                <li>
                    <a>an link idk yet</a>
                </li> 
            </ul>
        </div>
    </footer>
</div>