<header class="absolute stick-top d-flex p-3 darkbg" style="z-index:100;">
    <nav class="d-flex">
        <div class="logo">
            <a href="/">
                {{> logo }}
                <div class="sr-only">Home</div>
            </a>
        </div>
        {{!-- 
            <ul class="d-flex flex-stack"  style="justify-content: flex-end;">
                <li class="pl-3"><a href="/yell">Yell</a></li>
                <li class="pl-3"><a href="/yell">Yell</a></li>
            </ul> 
        --}}
    </nav>
</header>