<header class="absolute stick-top d-flex" style="z-index:100;">
    <div class="logo">
        <a href="/">
            <svg class="orbital" width="48" height="48" version="1.1" viewBox="0 0 1 1"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                    <circle cx=".5" cy=".5" r=".15" style="fill:#ffffff" />
                    <g class="satalite">
                        <circle cx=".5" cy=".5" r=".45"
                            style="fill-opacity:0;stroke-dasharray:2, 0.23;stroke-linecap:round;stroke-width:.03;stroke:#ffffff" />
                        <circle cx=".5" cy=".05" r=".05" style="fill:#ffffff" />
                        <circle cx=".5" cy=".95" r=".05" style="opacity:0" />
                    </g>
                </g>
            </svg>


        </a>
    </div>

    <nav>
        <ul>
            <li><a href="/yell">Yell</a></li>
        </ul>
    </nav>
</header>