<div class="wrapper">
    <header>

    </header>
    <section class="hero">

        <div class="bgImage svg container">
            <svg class="zdog-svg"></svg>

        </div>
        <div class="bgImage fog"></div>
        <div class="bgImage heroContent container">
            <h1>Way Later Reviews</h1>
            <em>Reviews 1 year after purchase.</em>
            <a class="button btn-juicy" href="">I Want to Review Something</a>
            <input type="search" class="btn-juicy" placeholder="Search Reviews">

        </div>
    </section>

    <div class="container">
        <section>
            <h2>Recent Reviews</h2>
            <div class="recentReviews">
                <figure class="miniReview">
                    <h3>Item</h3>
                    <small>
                        Time Since purchase: >~1 year
                    </small>
                    <div class="productImage"></div>
                    <p class="review">
                        Cat mojo i is playing on your console hooman. Howl uncontrollably for no reason i'm going to lap
                        some water out of my master's cup meow or mew, plop down in the middle where everybody walks.
                        Love hit you unexpectedly, gnaw the corn cob. Sit on human they not getting up ever thinking
                        about you i'm joking it's food always food jumps off balcony gives owner dead mouse at present
                        then poops in litter box snatches yarn and fights with dog cat chases laser then plays in grass
                        finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food
                        dish the cat knocks over the food dish cat slides down the water slide and into pool and swims
                        even though it does not like water chase imaginary bugs, so lick the curtain just to be annoying
                        reaches under door into adjacent room so this cat happen now, it was too purr-fect!!!. Throwup
                        on your pillow pee in human's bed until he cleans the litter box kitty poochy pet me pet me
                        don't pet me. Leave hair on owner's clothes.
                    </p>
                </figure>
                <figure class="miniReview">
                    <h3>Item</h3>
                    <small>
                        <span>Time Owned: >~1 year,</span>
                        <span>Still in use</span>
                    </small>
                    <div class="productImage"></div>
                    <p class="review">
                        Cat mojo i is playing on your console hooman. Howl uncontrollably for no reason i'm going to lap
                        some water out of my master's cup meow or mew, plop down in the middle where everybody walks.
                        Love hit you unexpectedly, gnaw the corn cob. Sit on human they not getting up ever thinking
                        about you i'm joking it's food always food jumps off balcony gives owner dead mouse at present
                        then poops in litter box snatches yarn and fights with dog cat chases laser then plays in grass
                        finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food
                        dish the cat knocks over the food dish cat slides down the water slide and into pool and swims
                        even though it does not like water chase imaginary bugs, so lick the curtain just to be annoying
                        reaches under door into adjacent room so this cat happen now, it was too purr-fect!!!. Throwup
                        on your pillow pee in human's bed until he cleans the litter box kitty poochy pet me pet me
                        don't pet me. Leave hair on owner's clothes.
                    </p>
                </figure>
                <figure class="miniReview">
                    <h3>Item</h3>
                    <small>
                        <span>Time Owned: >~1 year,</span>
                        <span>Still in use</span>
                    </small>
                    <div class="productImage"></div>
                    <p class="review">
                        Cat mojo i is playing on your console hooman. Howl uncontrollably for no reason i'm going to lap
                        some water out of my master's cup meow or mew, plop down in the middle where everybody walks.
                        Love hit you unexpectedly, gnaw the corn cob. Sit on human they not getting up ever thinking
                        about you i'm joking it's food always food jumps off balcony gives owner dead mouse at present
                        then poops in litter box snatches yarn and fights with dog cat chases laser then plays in grass
                        finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food
                        dish the cat knocks over the food dish cat slides down the water slide and into pool and swims
                        even though it does not like water chase imaginary bugs, so lick the curtain just to be annoying
                        reaches under door into adjacent room so this cat happen now, it was too purr-fect!!!. Throwup
                        on your pillow pee in human's bed until he cleans the litter box kitty poochy pet me pet me
                        don't pet me. Leave hair on owner's clothes.
                    </p>
                </figure>
            </div>
        </section>
        <footer>

        </footer>

    </div>
</div>


{{#section 'script'}}

    <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
    <script src="/public/scripts/vec2.js"></script>
    <script src="/public/scripts/orbitGraphic.js"></script>

{{/section}}