<div class="wrapper">
    <section class="hero" style="height:30vh">

        <div class="bgImage svg container">
            <svg class="zdog-svg"></svg>
        </div>
        <div class="bgImage fog"></div>
        <div class="bgImage heroContent container">
            <h1>
                {{ title }}
            </h1>
        </div>
    </section>
    <div class="container">
        {{ message }}

        <div>
            <a class="button button-juicy" href="/">Back Home</a>
        </div>
    </div>
</div>


{{#section 'script'}}

    {{!-- <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
    <script src="/public/scripts/vec2.js"></script>
    <script src="/public/scripts/orbitGraphic.js"></script> --}}

{{/section}}