<div class="wrapper">
    <section class="hero" style="height:30vh">

        <div class="bgImage svg container">
            <svg class="zdog-svg"></svg>
        </div>
        <div class="bgImage fog"></div>
        <div class="bgImage heroContent container">
            <h1>Setup Review</h1>
        </div>
    </section>
    <div class="container">
        <section>
            <form action="./write" method="post">
                <input type="hidden" name="id" value="{{ id }}">
                <div class="pb-3">
                    <label for="manufacture">Brand</label>
                    <input name="manufacture" required class="btn-juicy" type="text" value="{{ brand }}">
                </div>
                <div class="pb-3">
                    <label for="product">Product</label>
                    <input required class="btn-juicy" type="text" name="product" value="{{ productName }}">
                </div>
                <div class="pb-3">
                    <textarea placeholder="Lets write ur review" name="reviewContent" id="" cols="30" rows="10">
                        {{ reviewContent }}
                    </textarea>
                </div>
                <button type="submit" class="button btn-juicy">Save Review</button>
                <br><br>
                <p>
                    If you ever want to edit this, click the link in the email we sent you.
                </p>
            </form>
        </section>
    </div>
</div>


{{#section 'script'}}

    {{!-- <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
    <script src="/public/scripts/vec2.js"></script>
    <script src="/public/scripts/orbitGraphic.js"></script> --}}

{{/section}}