

{{#> subpageLayout }}

    <div class="mb-5">
        <h2 style="display: inline-block;">Results for:</h2> 
        <div style="display: inline-block; vertical-align: super;">  
            {{> searchInput }}
        </div>
    </div>

    {{#unless reviews }}
        Soz we got nu'in on that.
    {{/unless}}
    <div>
    {{#each reviews}}
        {{> reviewitem this}}
    {{/each}}
    </div>
{{/subpageLayout}}
