<div class="wrapper">
    <section class="hero">

        <div class="bgImage svg container">
            <svg class="zdog-svg"></svg>
        </div>
        <div class="bgImage fog"></div>
        <div class="bgImage heroContent container">
            <h1>Way Later Reviews</h1>
            <em>Reviews 1 year after purchase</em>
            <a class="button btn-juicy" href="review/setupreview">I Want to Review Something</a>
            {{> searchInput }}
        </div>
    </section>

    <div class="container">
        <section>
            <h2 class="pb-3">
                Recent Reviews
            </h2>
            <div>
                {{#each reviews}}
                    {{> reviewitem this}}
                {{/each}}
            </div>
        </section>
    </div>
</div>


{{#section 'script'}}

<script src="/public/scripts/zdog.min.js"></script>
<script src="/public/scripts/vec2.js"></script>
<script src="/public/scripts/orbitGraphic.js"></script>


{{/section}}